.about-wrapper {
  background-color: #FAF9F6;
  display: flex;
  justify-content: center;
  padding: 4.5vh 4.5vmin 4.5vh;
  height: 82vh;
}

.about-shapes {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10vh 35vh 20vh;
  gap: 5vmin;
}

.shape {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAF9F6;
  padding: 3vmin;
}

.shape-black {
  background-color: #333333;
  grid-column: 1;
  grid-row: 1 / span 1;
}

.shape-black h1 {
  font-size: 5vmin;
  font-weight: bold;
}

.shape-pink {
  background-color: #ED9DA0;
  grid-column: 2;
  grid-row: 3 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 3vmin;
  justify-items: center;
  
}

.shape-pink b {
  font-weight: bold;
}

.shape-green {
  background-color: #4DB67B;
  grid-column: 1;
  flex-direction: column;
  font-size: 4vmin;
  grid-row: 2 / span 3;
}

.shape-blue {
  background-color: #1E6972;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.blue h2 {
  font-size: 4vmin;
  font-weight: bold;
}

.blue-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vmin;
}

.blue-section h3 {
  font-size: 3.5vmin;
  font-weight: bold;
  text-align: center;
}

.blue-section p {
  font-size: 2.3vmin;
  background-color: white;
  color: #1E6972;
  padding: 1vmin;
  border: 1px solid #333333;
  border-radius: 20px;
  text-align: center;
  margin: 1.5vmin;
}

.blue-section .column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vmin;
}

.profile-one {
  width: 75%;
  border-radius: 50%;
  margin-bottom: 5vmin;
}

@media only screen and (max-width: 1100px) {
  .shape-black h1 {
    font-size: 1.5vmin;
  }

  .shape-pink {
    font-size: 1.2vmin;
  }

  .shape-green {
    font-size: 1.2vmin;
  }
  
  .blue h2 {
    font-size: 1.2vmin;
  }
  
  .blue-section h3 {
    font-size: 1.3vmin;
  }
  
  .blue-section p {
    font-size: 0.9vmin;
    padding: 0.5vmin;
    border: 0.1px solid #333333;
    margin: 0.5vmin;
  }
  
  .shape {
    padding: 1vmin;
  }
  
  .blue-section {
    gap: 0.1vmin;
  }
  
  .blue-section .column {
    gap: 0.1vmin;
  }

  .profile-one {
    width: 50%;
  }
}


@media only screen and (max-height: 600px) {
  .profile-one {
    width: 25vh;
  }
}
