.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 2vmin;
  background-color: #FAF9F6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 0.2vmin solid #e0e0e0;
}

.logo-image {
  position: fixed;
  top: 2vh;
  width: 4vh;
  margin-left: 1vmin; 
}

.menu-btn {
  font-size: 5vh;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  right: 0;
  z-index: 3;
  color: #333333;
}

.side-nav {
  position: fixed;
  top: 0;
  right: -30vmin;
  width: 30vmin;
  height: 100%;
  background-color: #333333;
  color: #FAF9F6;
  transition: right 0.3s ease;
  z-index: 1;
  padding-top: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 97%;
}

.side-nav.open {
  right: 0;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.side-nav ul li {
  margin: 4vmin 0;
  text-align: center;
}

.side-nav ul li a {
  color: #b2f2bb;
  text-decoration: none;
  font-size: 3.5vmin;
  display: block;
  padding: 3vmin 0;
  width: 100%;
}
