.hero-wrapper {
  background-color: #333333;
  display: flex;
  justify-content: center;
  padding: 14vh 4.5vmin 4.5vh;
  height: 81.5vh;
}

.hero {
  object-fit: fill;
  background-color: #B2F2BB;
  padding: 0 7vmin;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  color: #333333;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hero h1 {
  font-size: 5vmin;
  font-weight: bold;
  line-height: 1.2;
  grid-column: 1;
  grid-row: 1;
}

.hero p {
  margin-top: 4vmin;
  font-size: 4vmin;
  grid-column: 1;
  grid-row: 2;
}

.hero-button {
  background-color: #FAF9F6;
  color: #333333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 3vmin;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  grid-column: 1;
  grid-row: 3;
  width: 30vmin;
  height: 10vmin;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button:hover {
  background-color: #333333;
  color: #FAF9F6;
}

.art-one {
  position: relative;
  justify-self: right;
  width: 50vmin;
  grid-column: 2;
  grid-row: 1 / span 3;
}

@media only screen and (max-width: 100rem) {
  .hero h1 {
    font-size: 3.5vmin;
  }

  .hero p {
    font-size: 2.5vmin;
  }

  .hero-button {
    width: 24vmin;
    height: 8vmin;
    font-size: 2vmin;
  }
}
